<h1>Create a new landmark!</h1>

<form action="/landmarks" method="post">

  <label>Landmark name:</label>
  <input type="text" id="landmark_name" name="landmark[name]">
  <br></br>

  <label>Year completed:</label>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
  <br></br>

  <input type="submit" value="Create New Landmark">

</form>
