<h2>All figures!</h2>

<% @figures.each do |figure| %>
  <h3><%= figure.name %></h3>

  <label>Title(s):</label>
  <% figure.titles.each do |title| %>
    <li><%= title.name %></li>
  <% end %>
  <br></br>

  <label>Landmark(s):</label>
  <% figure.landmarks.each do |landmark| %>
    <li><%= landmark.name %></li>
  <% end %>
<% end %>
